.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.table {
  border: 1px solid #82daf5;
  border-radius: 10px;
  padding: 10px;
  border-spacing: 15px;
}

.odd {
  border: 0.5px solid #82daf5;
  border-radius: 10px;
  padding: 5px;
}

.odd:hover {
  cursor: pointer;
  background-color: #82daf5;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.money-input {
  width: 90px;
  height: 40px;
}

.place-bet {
  height: 40px;
  width: 140px;
  border: 1px solid #82daf5;
  border-radius: 10px;
  background-color: #82daf5;
  color: white;
  cursor: pointer;
}

.info {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tiket-table {
  width: 300px;
  padding: 10px;
  border-spacing: 15px;
}

.tiket {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #82daf5;
  border-radius: 10px;
  padding: 15px;
}
